body {
    font-size: 28px; 
}
    
#welcome {
    text-align: center;
    background-color: #FFB612;
    border-radius: 25px;
    width: 60%;
    margin: 0 auto;
}

#startBtn {
    display:inline-block;
    color:#444;
    border:1px solid #CCC;
    background:#DDD;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor:pointer;
    vertical-align:middle;
    max-width: 100px;
    padding: 5px;
    text-align: center;
}
#startBtn:active {
    color:red;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}